header{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    padding-top: 10px;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    background-color:#ffffff;
}
.transition{
    transition: 0.3s;

}
.refresh{
    color: red;
}

 .ul{
    display: flex;
}

header li{
    margin-left: 2rem;
    list-style-type: none;
}
header ul li a {
    text-decoration: none;
    color: #014890;
    font-size: 20px;
    font-family: roboto,sans-serif;
    font-weight: 600;
}
.join{
    border: 1px solid rgb(11, 11, 114);
    padding: 10px 18px;
    color: #333f4c;
    border-radius: 2px;
    transition: 0.3s;
}
 header .join:hover{
    margin-bottom: 5px;
    background-color: #88bff7;
    border: none;
}

.login{
    border: none;
    color: white;
    padding: 13px 18px;
    background-color: rgb(35, 13, 158);
    border-radius: 2px;
    transition: 0.3s;
    
}
.login:hover{
    background-color: firebrick;

}
.menu{
    height: 30px;
    width: 30px;
}
.menu div{
    height: 3px;
    background-color: black;
    margin-top: 5px;
}

@media (max-width:769px) {
    
    header{
        position: relative;
        margin-top: 0;
        /* padding-bottom: 33%; */

    }
    
    .ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10;
        height: 100vh;
        gap: 20px;
        display: none;
        transition: 0.3s;
        background-color: #ffffff;
        margin-bottom: 10rem;
        z-index: 20;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        border-radius: 3px;
        box-shadow: 5px 5px 3px rgb(134, 133, 136);

    }
    .active{
        display: flex;
        transition: 0.3s;
    }
    .menu div{
        display: block;
        height: 3px;
        background-color: black;
        margin-top: 5px;
    }
   
}
@media (min-width:770px) {
    .menu div{
        display: none;

    }
}